@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.ttf');
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-ExtraBold.ttf');
    font-style: bold;
    font-weight: 800;
    font-display: swap;
}